<h1><%= @place["name"] %></h1>

<h2>My Entries</h2>

<% if @entries.any? %>
  <div class="row">
    <% @entries.each do |entry| %>
      <% if entry.user_id == session["user_id"] %>  <!-- Double-check ownership -->
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><%= entry["title"] %></h3>
              <h4 class="card-subtitle mb-2 text-muted"><%= entry["occurred_on"] %></h4>
              <% if entry.uploaded_image.attached? %>
                <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid">
              <% else %>
                <img src="<%= entry["image"] %>" class="img-fluid">
              <% end %>
              <p class="card-text"><%= entry["description"] %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p>No entries found.</p>
<% end %>


<p>
  <a href="/entries/new?place_id=<%= @place["id"] %>">New Entry</a>
</p>

<p>
  <a href="/places">Back to All Places</a>
</p>